rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() {
      return request.auth != null;
    }

    function admin() {
      return signedIn() &&
          firestore.exists(
            /databases/(default)/documents/admins/$(request.auth.uid)
          );
    }

    match /hairstyles/{fileName} {
      allow read: if signedIn();
      allow create, update: if admin() &&
          request.resource.size < 5 * 1024 * 1024 &&
          request.resource.contentType.matches('image/.*');
      allow delete: if admin();
    }
  }
}
